<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>A4465B47-B3FF-4776-BA5C-6E46D69DD30C</key>
		<dict>
			<key>HH</key>
			<string>220</string>
			<key>HV</key>
			<string>240</string>
			<key>OV</key>
			<string>250</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A4465B47-B3FF-4776-BA5C-6E46D69DD30C</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>T_R</string>
	</array>
</dict>
</plist>
